@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media (max-width: 700px) {
  .brand {
    max-height: 100px;
  }
}

@media (max-width: 1284px) {
  img {
    border-radius: 5px;
  }
  .converter {
    margin: auto;
  }
  .brand {
    height: 200px;
  }
}

@media (min-width: 1285px) {
  img {
    border-radius: 5px;
  }
  .converterMain {
    display: flex;
    justify-content: center;
  }
  .converter {
    margin-right: 50px;
  }
  .brand {
    height: 250px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292929;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-bottom: 20px;
}

h1,
h2,
p {
  text-align: center;
}

.converterMain {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px auto 10px;
}

.social {
  width: 2em;
}

li {
  margin: 0 25px;
}

.converter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

section {
  margin-bottom: 20px;
}

input {
  width: 8em;
  font-size: 1.5em;
}

label {
  padding-right: 30px;
  font-size: 1.6em;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand {
  flex-basis: 35%;
  border: solid rgb(0, 0, 0) 3px;
  margin: 15px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
}

.imgBlock {
  display: block;
  max-height: 100%;
  margin: auto;
}

.imgLogo {
  display: block;
  max-width: 4em;
  margin: auto;
  border: #ffffff 3px solid;
  border-radius: 50%;
  margin-bottom: 20px;
}