@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@media (max-width: 1284px) {
  .img {
    width: 100%;
  }
  img {
    border-radius: 5px;
  }
}

@media (min-width: 1285px) {
  .img {
    width: 50%;
  }
  img {
    border-radius: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
 }

body {
  background-color: #292929;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* header {
  border: solid rgb(225, 0, 0) 6px;
}

section {
  border: solid rgb(3, 190, 0) 6px;
}

footer {
  border: solid rgb(225, 225, 0) 6px;
} */

h1,
h2,
p {
  text-align: center;
  /* border: solid rgb(2, 144, 221) 3px; */
}

.img {
  /* border: solid rgb(221, 2, 130) 3px; */
  display: flex;
  margin: auto;
}

img {
  /* border: solid rgb(2, 144, 221) 3px; */
  max-width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  /* border: solid red 3px; */
}

.social {
  width: 2em;
  /* border: solid rgb(175, 132, 132) 3px; */
}

li {
  /* border: solid rgb(2, 144, 221) 3px; */
  margin: 0 25px;
}